@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Special+Elite');

@font-face {
    font-family: 'Nanum Gothic';
    font-style: normal;
    font-weight: 400;
    src: url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-Regular.eot);
    src: url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-Regular.eot?#iefix) format('embedded-opentype'),
         url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-Regular.woff2) format('woff2'),
         url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-Regular.woff) format('woff'),
         url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-Regular.ttf) format('truetype');

}

.intro-banner{
    padding: 0 0 px; margin:0 0px;
  font-family: 'Gowun Batang', 'Special Elite';
  background-color:#edf5fa;
  height:160px;
}

.quote-space {
    align-items:center;
    justify-content: center;
    display: flex;
    text-align :center;
} 

blockquote {
    position:relative;
    float:center;
    margin-top:45px;
    font-size: 20px;
    line-height: 1.8em;
    color: rgb(150, 147, 159);
    /* text-decoration:underline; */
}
blockquote:before,blockquote:after {
    z-index:0;
    position: relative;
    line-height:0.5em; 
    color: rgb(255, 224, 171);
    font-family: 'Special Elite';
   position:absolute;
	font-size: 8rem;
} 

 blockquote:before {
    content: '“';
    top:48%;
    left:-15%;
 }
 blockquote:after {
    content: '”';
	top: 72%;
    right: -15%;
}

/* middle */

.middle-banner {
    padding: 0px; margin:0px 0px;
    height: 300px;
    background-color: rgb(255, 255, 242);
}

.middle-banner .banner-space {
    font-size:20px;
}
.middle-banner .banner-space .direct-01 > p, 
.middle-banner .banner-space .direct-02 > p  {
    display: block;
    border:1px solid;
    float:left;
    font-family: 'Nanum Gothic';
    width:50%;
    height:100%;
    padding: 0 25px;
    box-sizing: border-box;
}
.middle-banner .banner-space .direct-01 {
    background-color:rgb(150, 147, 159);
    background-repeat:no-repeat;
}
.middle-banner .banner-space > div a {
    overflow:hidden;
    display:block;
    min-height:220px; 
    padding:40px 50px;
    vertical-align: top;
    font-size:19px;
    line-height:1.5em;
    box-sizing: border-box;
    letter-spacing: -0.5px;
    border-radius:15px;
    height:100%;
}
.middle-banner .banner-space .direct-02 > div a {

}


@media screen and (max-width: 1023px) {
}   
@media screen and (max-width: 767px) {
    blockquote { font-size:16px;}
}