@import url(https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css);
/* @import url(//fonts.googleapis.com/earlyaccess/nanummyeongjo.css);
@import url(//fonts.googleapis.com/earlyaccess/nanumbrushscript.css); */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600);	

@font-face {
    font-family: 'Nanum Gothic';
    font-style: normal;
    font-weight: 700;
    src: url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Bold.eot);
    src: url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Bold.eot?#iefix) format('embedded-opentype'),
    url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Bold.woff2) format('woff2'),
    url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Bold.woff) format('woff'),
    url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Bold.ttf) format('truetype');
}
 @font-face {
    font-family: 'NanumSquareRound';
    src: url(https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff) format('woff');
    font-weight: normal;
    font-style: normal;
 }
@font-face {
    font-family: 'BMJUA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMJUA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*pageGrid*/

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  margin-bottom:20px;
 /* flex-wrap:wrap;  padding:5px;  flex-direction: row;  justify-content: center;  align-items: center; */
}
.grid-container.course{
  grid-template-columns: auto;
}
.grid-container a {
  text-decoration:none;
  color:rgb(158,158,158);
}
.text { 
  text-align:center; 
  font-size:15px;
  font-weight:bold;
  padding-bottom:10px;
}
.text.course{
  font-size:18px;
  padding:15px;
}
.text.detail{
  padding:20px;
  font-weight:normal;
  text-align:left;
}
.notice-text {
  text-align:center; 
  font-size:15px;
  font-weight:bold;
}
.sub-text {
  font-size:13px;
  text-align:left;
  padding-left:5px;
  padding-right:5px;
  padding-bottom:20px;
}
.card {
  box-shadow: 0 4px 6px 0 rgba(47, 47, 47, 0.2);
  border-bottom: 3px solid #3a558e;
  position: relative;
  margin:20px;
}

.card img {
  width:100%;
}

@media (max-width: 990px) {
  .grid-container{ 
    grid-template-columns: auto auto;
  }
}

@media (max-width: 520px) {
  .grid-container{ 
    grid-template-columns: auto;
  }
  .text.detail{font-size:12px;}
}