/*
*
*/ 

/*
* 슬라이더 (js로 바꿔야 함)
*/

.your-class {
    visibility: hidden;
    height:700px;
    overflow:hidden;
}
.your-class img {
    height:700px;
    width:100%;
    display:none;
}
.slick-init {
    visibility:visible;
}
.slick-init img {
    display:block;
}
@media screen and (max-width: 767px) {
    .your-class,.slick-init {
        height:400px;
    }
    .your-class img, .slick-init img {height:400px;}    
}