/*
*
*/ 

/*
* 슬라이더 (js로 바꿔야 함)
*/

.your-class {
    /* visibility: hidden; */
    height:700px;
    overflow:hidden;
}
.your-class img {
    height:700px;
    width:100%;
    display:none;
}

@media screen and (max-width: 767px) {
    .your-class {
        height:400px;
    }
    .your-class img {height:400px;}
        
}