/*
** Fonts
*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600);	
@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Special+Elite');
@font-face {
    font-family: 'BMJUA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMJUA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Nanum Gothic';
    font-style: normal;
    font-weight: 400;
    src: url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-Regular.eot);
    src: url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-Regular.eot?#iefix) format('embedded-opentype'),
         url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-Regular.woff2) format('woff2'),
         url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-Regular.woff) format('woff'),
         url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-Regular.ttf) format('truetype');
}
@font-face { 
    font-family: 'Nanum Gothic';
    font-style: normal;
    font-weight: 700;
    src: url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Bold.eot);
    src: url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Bold.eot?#iefix) format('embedded-opentype'),
         url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Bold.woff2) format('woff2'),
         url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Bold.woff) format('woff'),
         url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Bold.ttf) format('truetype');
  }

 /*
 **
 */

h1{font-size: 20px;}
.hidden { padding:0 80px; }

html,body { 
    margin: 0px;
    padding: 0px;
    background-color: white;
    width:100%;
    overflow-x:clip;
    overflow-y:auto;
}
header{
    width:100%;
    justify-content: center;
    align-items:center;
    /* padding-top:30px; */
}
main {
    font-size:15px; color:rgb(52, 52, 52);
    margin-top:50vh;
    padding: 0 0px;
    font-size: 1.5rem; line-height: 1.2;
    font-family: 'Nanum Gothic';
  }
ul { list-style: none; width:100%; margin-left:0px;}
nav a { 
     color:#d9e6e6; 
    text-decoration: none;
}
.container { position: relative; width: 100%;}
header { margin-top:0px;}
 .logo { 
     margin-top:0px; padding-top:0px;margin-left:0px;
    width:100%; height:auto; clear:both; left: 50%; transform: translate(-50%, 0%);
    text-align:center;  position:absolute;  z-index: 1; }
/* .logo img {display: inline-block;} */


nav { 
    text-decoration:none;
    background-color: transparent;
    /* color:#ffffff; */
    position: relative;
    z-index:1;
    font-size:20px;
    font-family: 'BMJUA'; 
    font-weight: normal; 
    display: block; 
    height: 60px;
    padding: 0 0px;
    line-height: 50px;
    width: 100%;
    text-align: center;
}
#nav-content {
    position: relative;
    float:center;
    text-align:center;
}

nav ul {float:center; padding-top:10px;}
nav li {display:inline-block; margin-top:0px;padding:0px 20px;}

/*dropdown menu */

.dropdown { float: center; overflow: hidden;}

.dropbtn {
    background-color: transparent;
    background-image:none !important;
    border-color: transparent;
    border: none;
    font-size:20px;
    font-family: 'BMJUA'; 
    font-weight: normal; 
    color:#ffffff;
}
.dropdown .dropdown-content
{
    font-size:17px;
    color:rgb(217, 230, 230);
    margin-top:16px; margin-left:20px;
    display: block;
    opacity:0;
    position: absolute;
    -webkit-transform: translate3d(0,0,0);
    width: 800px;
    height: 330px;
    float: center;
    text-align: center;
    position: absolute;
    transition:opacity 200ms ease-out 0ms;
    z-index:1;
    background-color: rgba(58, 85, 142, 0.8); 
    left: 50%; transform: translate(-50%, 0%);
}

.dropdown-content hr {
    width:95%; left:0%;
   /* transform: translate(-50%, 0%); */
    color: lightslategrey;
}

.dropdown-content ul {
    margin-left:0px; margin-right:0px;
    text-align:center;
    display: flex;
    height: 270px;
    font-size:18px; color:rgb(217, 230, 230);
    align-content: flex-start;
    flex-direction: column;
    flex-wrap:wrap;
    overflow: auto;
}
.dropdown-content .spacing {
    padding-left: 130px;
}
.dropdown-content li {
    padding-left: 17px;
    padding-right: 17px;
}
.left:hover .dropdown-content {
    opacity:100%;
}

.preview {
    position:relative;
    float: center;
    z-index:1;
    font-family:"BMJUA", 'NANUM GOTHIC';
    margin-top: 50vh;
    padding: 0px 50px;
    width: 1000px;
    height: 200px;
    background-color: gray;
}
/*
** menutoggle
*/
#menuToggle {
  display: none;
  position: relative;
  top: 50px;
  left: 50px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a {
  text-decoration: none;
  color: #232323;
  transition: color 0.3s ease;
}

#menuToggle a:hover { color: tomato;}

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  z-index: 2; /* hamburger */
  -webkit-touch-callout: none;
}

/* hamburger */
#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #ffffff;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child {   transform-origin: 0% 0%; }
#menuToggle span:nth-last-child(2) {   transform-origin: 0% 100%;}

#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

#menuToggle input:checked ~ span:nth-last-child(3){
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}


#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

/* menu toggle position  */
#menu {
  position: absolute;
  width: 100%;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;  /* to stop flickering of text in safari */
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li {
  padding: 10px 0;
  font-size: 22px;
}

/*  * slide from the left */
#menuToggle input:checked ~ ul {  transform: none; }

/*
** blockquotes
*/

.intro-banner{
    padding: 0 0 px; margin:0 0px;
  font-family: 'Gowun Batang', 'Special Elite';
  background-color:#edf5fa;
  height:160px;
}

.quote-space {
    align-items:center;
    justify-content: center;
    display: flex;
    text-align :center;
} 

blockquote {
    position:relative;
    float:center;
    margin-top:45px;
    font-size: 20px;
    line-height: 1.8em;
    color: rgb(150, 147, 159);
    /* text-decoration:underline; */
}
blockquote:before,blockquote:after {
    z-index:0;
    position: relative;
    line-height:0.5em; 
    color: rgb(255, 224, 171);
    font-family: 'Special Elite';
   position:absolute;
	font-size: 8rem;
} 

 blockquote:before {
    content: '“';
    top:48%;
    left:-15%;
 }
 blockquote:after {
    content: '”';
	top: 72%;
    right: -15%;
}

/* middle */

.middle-banner {
    padding: 10px; margin:0px 0px;
    height: 263px;
    background-color: rgb(255, 255, 242);
}

.middle-banner .banner-space {
    margin-left:auto;margin-right:auto;
}
.middle-banner .banner-space .direct-01 > p, 
.middle-banner .banner-space .direct-02 > p  {
    display: block;
    float:left;
    font-family: 'Nanum Gothic';
    width:50%;
    height:100%;
    padding: 0 25px;
    box-sizing: border-box;
}
.middle-banner .banner-space .direct-01 a {
    background-color:rgb(175, 226, 255);
    background-image:url('../img/direct1.png');
    color:rgb(100, 100, 100);
    font-size:17px;
    background-repeat:no-repeat;
    background-position:90% 80%;
}
.middle-banner .banner-space .direct-02 a {
    background-color:rgb(255, 247, 175);
    color:rgb(100, 100, 100);
    font-size:17px;
    background-repeat:no-repeat;
    background-image:url('../img/direct2.png');
    color:rgb(100, 100, 100);
    background-position:90% 80%;
    font-size:17px;
}
.middle-banner .banner-space > div a {
    overflow:hidden;
    display:block;
    min-height:220px; 
    padding:40px 50px;
    vertical-align: top;
    font-size:17px;
    line-height:1.5em;
    box-sizing: border-box;
    letter-spacing: -0.5px;
    border-radius:55px;
    height:100%;
}
/* .middle-banner .banner-space .direct-02 > div a {

} */

.title {
    font-weight:700;
    font-size:21px;
}

/*
** Timetables
*/

depth1 {
    max-width:1280px;
    height: 600px;
    margin-top: 0;
    background-color: #512387;
    padding-top:70px;
  }
  .timetable {
      max-width: 1280px;
      margin: 0 auto;
      margin-top: 60px;
      overflow: hidden;
  }
  
  hr { width:90vw;}
  
  .timetable h1 {
      max-width: 1280px;
      margin: 0 auto;
      padding: 0;
      color: black;
      padding: 1em 2em;
    }
  .timetable-slider {text-align:center;}
  .timetable-slider img{
    position: relative;
    display:block;
    max-width:90%;
    height: auto;
    margin-left:auto;
    margin-right:auto;
  }
  
 
/*
** media query
*/

@media screen and (min-width: 1340px) {
    .middle-banner .banner-space { max-width:1200px;}
}
@media screen and (max-width: 1023px) {
    #menuToggle {display:block;}
    nav {display:none;}
    .logo {
        text-align:center;
        width:120px;
        left:50%;
    }
    .logo img { width:100px; height: auto;}
    #menuToggle {display:block;}
    header { margin-top:0px;}
    /* .logo img { width:160px; height: auto;} */
    .container .slider {
        position: absolute;
        overflow: clip;
        top: 0;left: 0; width: 500%; height: 30vh;
        animation: animate 10s linear infinite;
        z-index: 0;
    }
    .preview { margin-top: 40vh;}
    footer h2{font-size: 13px;}
    .copyrights {font-size:9px;}
}

@media (min-width: 768px) and (max-width:1339) {
    nav {display:none;}
    .logo {
        text-align:center;
        width:80px;
        left:50%;
    }
    header {margin-top:0px;}
    .logo img { width:80px; height: auto;}
    #menuToggle {display:block;}
}

@media screen and (max-width: 767px) {
    nav {display:none;}
    .logo {
        text-align:center;
        width:80px;
        left:50%;
    }
    header {margin-top:0px;}
    .logo img { width:80px; height: auto;}
    #menuToggle {display:block;}
    .container .slider {
        position: absolute;
        overflow: clip;
        top: 0;left: 0; width: 500%; height: 40vh;
        animation: animate 10s linear infinite;
        z-index: 0;
    }
    .preview { margin-top: 40vh;}
    footer h2{font-size: 12px;}
    .copyrights {font-size:9px;}

    blockquote { font-size:16px;}
.middle-banner .banner-space .direct-01 a {background-size: auto 50px;}
.middle-banner .banner-space .direct-02 a {background-size: auto 60px;}
.middle-banner .banner-space .direct-01 > p, 
.middle-banner .banner-space .direct-02 > p  {
    display: block;
    float:left;
    font-family: 'Nanum Gothic';
    width:100%;
    height:100%;
    padding: 25 25px;
    box-sizing: border-box;
}
.middle-banner {
    width:100%;
    height: 100%;
    background-color: rgb(255, 255, 242);
    margin:0 auto;
    text-align:center;
}
.middle-banner .banner-space > div a { 
    padding:40px;
    height:100%;
    vertical-align: top;
    text-align:left;
    font-size:15px;   
}

}
