@font-face {
    font-family: 'BMJUA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMJUA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Nanum Gothic';
    font-style: normal;
    font-weight: 400;
    src: url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-Regular.eot);
    src: url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-Regular.eot?#iefix) format('embedded-opentype'),
         url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-Regular.woff2) format('woff2'),
         url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-Regular.woff) format('woff'),
         url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-Regular.ttf) format('truetype');

        }
.hidden { padding:0 70px; }
img { max-width: 100%; height: auto;}
body { 
    margin: 0px;
    padding: 0px;
    background-color: white;
    overflow-x:hidden;
    overflow-y:auto;
}
ul { list-style: none; }
a {
    text-decoration:none;
    color:#ffffff;
}
.container { position: relative; width: 100%; }

nav { 
    color: white; 
    position: relative;
    z-index:1;
    font-size:20px;
    font-family: 'BMJUA'; 
    font-weight: normal; 
    display: block; 
    height: 30px;
    padding: 0px;
    line-height: 50px;
    width: 100%;
    text-align: center;
}
nav ul {float:center; margin-top:0px;}
nav li {display:inline-block; margin-top:0px;padding:0px 10px;}
/* header .all, header .close,
header .left > div > div, header h2 { display: none; } */


.depth1 {
    font-family:"BMJUA", 'NANUM GOTHIC';
    margin-top: 550px;
    padding: 0px 50px;
}

@media (max-width: 968px) {
    nav {display:none;}
    #hamburger { display:on; }
    .container .slider .slide .caption {
        position: absolute;
        bottom: 20px;
        left: 20px;
        right: 20px;
        padding: 20px;
    }
}