@font-face {
    font-family: 'BMJUA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMJUA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

h1{font-size: 20px;}
.hidden { padding:0 80px; }

html,body { 
    margin: 0px;
    padding: 0px;
    background-color: white;
    width:100%;
    overflow-x:clip;
    overflow-y:auto;
}
header{
    width:100%;
    justify-content: center;
    align-items:center;
    padding-top:30px;
}
main {
    font-size:15px; color:black;
    margin-top:50vh;
    padding: 0rem 0;
    font-size: 1.5rem; line-height: 1.2;
    font-family: 'Nanum Gothic';
  }
ul { list-style: none; width:100%; }
nav a { color:#ffffff; }
.container { position: relative; width: 100%;}
header { margin-top:0px;}
 .logo { 
     margin-top:0px; padding-top:0px;
    width:100%; height:auto; clear:both; left: 50%; transform: translate(-50%, 0%);
    text-align:center;  position:absolute;  z-index: 1; }
.logo img {display: inline-block;}
nav { 
    text-decoration:none;
    background-color: transparent;
    color:#ffffff;
    position: relative;
    z-index:1;
    font-size:20px;
    font-family: 'BMJUA'; 
    font-weight: normal; 
    display: block; 
    height: 30px;
    padding: 0 0px;
    line-height: 50px;
    width: 100%;
    text-align: center;
}
#nav-content {
    position: relative;
    float:center;
    text-align:center;
}

nav ul {float:center; margin-top:0px;}
nav li {display:inline-block; margin-top:0px;padding:0px 20px;}

.preview {
    position:relative;
    float: center;
    z-index:1;
    font-family:"BMJUA", 'NANUM GOTHIC';
    margin-top: 50vh;
    padding: 0px 50px;
    width: 1000px;
    height: 200px;
    background-color: gray;
}

@media screen and (max-width: 1023px) {
    nav {display:none;}
     .logo {
        padding: 0px 0;
        text-align:center;
        left:50%;
    }
    header { margin-top:0px;}
    .logo img { width:160px; height: auto;}
    .container .slider {
        position: absolute;
        overflow: clip;
        top: 0;left: 0; width: 500%; height: 30vh;
        animation: animate 10s linear infinite;
        z-index: 0;
    }
    #hamburger { display:on; }
    .preview { margin-top: 40vh;}
    footer h2{font-size: 13px;}
    .copyrights {font-size:9px;}
}
@media screen and (max-width: 767px) {
    nav {display:none;}
    .logo {
        text-align:center;
        width:80px;
        left:50%;
    }
    header {margin-top:0px;}
    .logo img { width:80px; height: auto;}
    #hamburger { 
        padding-top:0px;
        display:on;
    }
    .container .slider {
        position: absolute;
        overflow: clip;
        top: 0;left: 0; width: 500%; height: 40vh;
        animation: animate 10s linear infinite;
        z-index: 0;
    }
    .preview { margin-top: 40vh;}
    footer h2{font-size: 12px;}
    .copyrights {font-size:9px;}
}
