/* @import url('https://cdn.jsdelivr.net/gh/snz-hayden/toolo/fonts/nixgon/nixgon.css'); */
/* @import url('https://github.com/snz-hayden/toolo/tree/master/fonts/nixgon/file/NIXGONFONTS_Regular.woff'); */
/* @font-face {
    font-family: 'Nixgon';
    src: url('https://cdn.jsdelivr.net/gh/snz-hayden/toolo/fonts/nixgon/nixgon.css');
    font-weight: 400;
    font-style: normal;
} */
body {
    font-family: 'Nixgon', sans-serif;
    left:0;
    top:0;
    margin:0;
    background-color: rgb(201, 235, 245);
    line-height: 1.0em;
    /* overflow-x:hidden; */
    /* overflow-y:hidden; */

}
header {
    padding:5px;
    text-align:center;
    color:rgb(112, 191, 212);
    font-size:.7em;
    background-color: #0b4b6d;
}
header a {
    text-decoration:none;
    color:rgb(112,191,212);
}
footer {
    padding:5px;
    text-align:center;
    background-color: #0b4b6d;
    color:rgb(112, 191, 212);
    font-size:8px;
}

.logo {width:40px;padding-bottom:10px;}
main img {width:70%;}
main{
    padding:10px;
    text-align:center;
    line-height: 1.2em;
    color:#74777a;
}
.main-title{
    padding:0px;
    font-size:1em;
    color:#6381a0;
}
.title.first {
    font-size:30px;
    font-weight:700;
    color:#0b4b6d;
}
.title.second {
    padding-top:10px;
}
.main-schedule{
    padding:10px;
    font-size:0.8em;
}
.hidden {display:none;}
button {
    font-family:'Nixgon';
    color:rgb(112,191,212);
    background-color: #0b4b6d;
    width:100px;
    margin:10px;
    padding:10px;
    border:0;
    border-radius:30px;
}

.greetings.text {
    font-size:1em;
    line-height:1.5em;
    padding:10px;
}
@media screen and (max-width: 500px) {
header{
    font-size: .6em;
}
.logo{padding-bottom:0px;}
main img{width:100%;}
.main-title{
    font-size:.8em;
}
.hidden {display:block;}
.title.first{
    font-size:1.2em;
    line-height: 1.5em;
}
.title.second{font-size:0.8em;}
.button{
    font-size:0.8em;
    padding:5px;
    width:80px;
    margin:6px;
}
}