/* @import url('https://cdn.jsdelivr.net/gh/snz-hayden/toolo/fonts/nixgon/nixgon.css'); */
/* @import url('https://github.com/snz-hayden/toolo/tree/master/fonts/nixgon/file/NIXGONFONTS_Regular.woff'); */
/* @font-face {
    font-family: 'Nixgon';
    src: url('https://cdn.jsdelivr.net/gh/snz-hayden/toolo/fonts/nixgon/nixgon.css');
    font-weight: 400;
    font-style: normal;
} */
body {
    font-family: 'Nixgon', sans-serif;
    left:0;
    top:0;
    margin:0;
    background-color: #fbffe8;
    line-height: 1.0em;
}
header {
    padding:5px;
    text-align:center;
    color:rgb(112, 191, 212);
    font-size:.7em;
    background-color: rgba(156, 234, 240, 0.7);
}
footer {
    padding:5px;
    text-align:center;
    background-color: rgba(156, 234, 240, 0.7);
    color:rgb(112, 191, 212);
    font-size:8px;
}

.logo {width:50px;padding-bottom:10px;}
main img {width:70%;}
main{
    padding:10px;
    text-align:center;
    line-height: 1.2em;
    color:#74777a;
}
.main-title{
    padding:0px;
    font-size:1em;
    color:#93979b;
}
.title.first {
    font-size:30px;
    font-weight:700;
    color:#535557;
}
.title.second {
    padding-top:10px;
}
.main-schedule{
    padding:10px;
    font-size:0.8em;
}
.hidden {display:none;}
button {
    font-family:'Nixgon';
    background-color: rgba(156, 234, 240, 0.7);
    width:100px;
    margin:10px;
    padding:10px;
    border:0;
    border-radius:30px;
}
@media screen and (max-width: 500px) {
.logo{padding-bottom:0px;}
.main-title{
    font-size:.9em;
}
.hidden {display:block;}
.title.first{
    font-size:1.4em;
    line-height: 1.5em;
}
.title.secon{font-size:0.9em;}
.button{
    font-size:0.7em;
    padding:5px;
    width:80px;
    margin:6px;
}
}